<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="get"><table width="200" border="1">
  <tr>
    <th scope="col">#</th>
    <th scope="col">bookname</th>
    <th scope="col">Author</th>
    <th scope="col">Price</th>
    <th scope="col">Publication</th>
    <th scope="col">&nbsp;</th>
  </tr>
    {% for i in data %}
  <tr>
    <td rowspan="2">&nbsp;{{ forloop.counter }}</td>
    <td rowspan="2">&nbsp;{{ i.bookname }}</td>
    <td rowspan="2">{{ i.Author }}&nbsp;</td>
    <td rowspan="2">{{ i.price }}&nbsp;</td>
    <td rowspan="2">{{ i.publication }}&nbsp;</td>
    <td><a href="/edit_book/{{ i.id }}">EDIT</a></td>
  </tr>
  <tr>
    <td><a href="/delete_book/{{ i.id }}">DELETE</a></td>
  </tr>
    {% endfor %}
</table>
</form>
</body>
</html>
